/****************************** Nav_Bar****************************/

nav a.nav-link {
  font-weight: 100;
  letter-spacing: 0.0375rem;
  cursor: pointer;
  text-transform: uppercase;
  margin: .75rem  1.85rem 0 1.85rem;
}


.nav-link:hover {
  font-size: 0;
}

.nav-link:hover:before {
  font-size: 20px;
  content: attr(data-hover);
}

.logo {
  width: 250px;
  margin: 10px 0 0 10px;
}


